<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Banner\Slider\Model\ResourceModel\Banner\Grid\Collection"  type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banner_slider</argument>
            <argument name="resourceModel" xsi:type="string">Banner\Slider\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">Banner\Slider\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Banner\Slider\Controller\Adminhtml\Bannerslider\Upload">
       <arguments>
          <argument name="upload" xsi:type="object">VirtualTypeName</argument>
       </arguments>
    </type>
    

      <!-- image uploader start -->    
    <type name="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner</argument>
            <argument name="basePath" xsi:type="string">banner</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <!-- image uploader end -->
</config>