<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">     
    <event name="catalog_product_save_before">
        <observer name="attraction_highlights_save_before" instance="Label\Product\Observer\SerializedAttractionHighlights" />
    </event>
     <event name="catalog_product_load_after">
        <observer name="product_label" instance="Label\Product\Observer\ProductLoadAfter" />
    </event>
</config>