<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="daily" translate="label" sortOrder="10">
           <label>Daily Deals</label>
       </tab>
       <section id="daily_deals" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
           <class>separator-top</class>
           <label>Daily Deals</label>
           <tab>daily</tab>
           <resource>Daily_Deals::config</resource>
           <group id="general_conifg" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">

               <label> General Configuration </label>

               <field id="is_active" translate="label comment" type="select" sortOrder="25" showInDefault="1"  showInWebsite="1">
                   <label>Enable</label>
                   <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                   
               </field>

                <field id="product_sku" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1" >
                   <label>Product SKU</label>
                </field>

               <field id="sale_expire_date" translate="label" type="date" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Sale Expire Date</label>
                    <frontend_model>Daily\Deals\Block\Adminhtml\System\Config\Date</frontend_model>
                    <depends>
                       <field id="*/*/is_active">1</field>
                   </depends>
               </field>

               <field id="sale_text" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1" >
                   <label>Sale Text</label>
                   <depends>
                       <field id="*/*/is_active">1</field>
                   </depends>
               </field>

           </group>
       </section>
   </system>
</config>