<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <checkout>
            <options>
                <checkout_is_guest>0</checkout_is_guest>
            </options>
        </checkout>
    </default>
</config>
