<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="guest_save_order_comment_in_quote_table" type="Guest\Order\Plugin\Model\GuestPaymentInformationManagement" sortOrder="10" disabled="false" />
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="guest_save_order_comment_in_quote" type="Guest\Order\Plugin\Model\PaymentInformationManagement" sortOrder="20" disabled="false"/>
    </type>
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="kaushik_save_order_comment_in_quote" type="Guest\Order\Plugin\Model\PaymentInformationManagement" sortOrder="20" disabled="false"/>
    </type>

<!-- <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="Guest\Order\Plugin\ShippingInformationManagement" sortOrder="1"/>
    </type>
 -->
    <!-- <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="guest_checkout_layout_processor"
                type="Guest\Order\Plugin\Checkout\Block\LayoutProcessor" sortOrder="1"/>
    </type> -->
   
</config>