<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="custom_checkbox_code_order_place_before_action" instance="Guest\Order\Observer\AddIsGuestToOrder"/>
        <!-- <observer name="magetrend_customfield_sales_model_service_quote_submit_before"
        instance="Guest\Order\Observer\SaveOrderBeforeSalesModelQuote" /> -->
    </event>
</config>