<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <customshipping>
                <active>1</active>
                <!-- <sallowspecific>0</sallowspecific> -->
                <model>CustomShipping\Checkout\Model\Carrier\Shipping</model>
                <name>Custom Shipping</name>
                <price>20.00</price>
                <title>Custom Shipping</title>
                <category>CustomShipping\Checkout\Model\Config\Source\Categorylist</category>
            </customshipping>
        </carriers>
    </default>
</config>