<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="icreative_moduletest_display_observerexample">
        <observer name="observerexample" instance="Icreative\Moduletest\Observer\ChangeDisplayText" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="minicartpricechange" instance="Icreative\Moduletest\Observer\ChangeMiniCartPrice" />
    </event>
    <event name="faq_after_save">
        <observer name="faqaftersave" instance="Icreative\Moduletest\Observer\StoreDataInAnotherTable" />
    </event>
</config>